---
layout: static-page
title: blog
class: blog
permalink: /blog/
summary: "IncludeOS is a performant, minimal unikernel operating system for the cloud. We provide a bootloader, standard libraries and the build - and deployment system. You just provide the service."
---

{% for post in site.posts %}

  <div class="blog-posts row align-middle">
    <a href="{{ post.url | prepend: site.baseurl }}">
      <div class="small-12 medium-2 columns">
        <img src="{{post.hero}}" alt="{{ post.title }}">
      </div>

      <div class="small-12 medium-10 columns">
        <h2>{{ post.title }}</h2>
        <p>{{ post.summary }}</p>

        {% for category in post.categories %}
          <span>{{ category }}</span>
        {% endfor %}
      </div>
    </a>
  </div>

{% endfor %}
