<!-- Top section (aka the blue section) -->
<section class="top flex-child-auto">

  <div class="row">

    <div class="small-12 large-7 column">
      <h1>Run your application with zero overhead</h1>
      <p>IncludeOS allows you to run your application in the cloud without an operating system. IncludeOS ads operating system functionality to your application allowing you to create performant, secure and resource efficient virtual machine.</p>
      <p>IncludeOS applications boot in tens of milliseconds and require only a few megabytes of disk and memory. </p>
      <div class="row">
        <div class="stacked-for-small button-group">
          <a class="primary hollow button" href="https://github.com/hioa-cs/IncludeOS/tarball/master">DOWNLOAD TARBALL</a>
          <a class="primary hollow button" href="https://github.com/hioa-cs/IncludeOS/zipball/master">DOWNLOAD ZIP</a>
          <a class="primary hollow button" href="https://github.com/hioa-cs/IncludeOS">VIEW ON GITHUB</a>
        </div>
      </div>
    </div>

    <div class="list small-12 large-5 column">

      <div class="row align-middle">
        <div class="icons small-2 medium-1 large-2 column">
          <img src="/assets/img/bullet_cplus.png" alt="includeOS">
        </div>
        <div class="small-10 medium-11 large-10 column">
          <p>Performant. No operating system overhead.</p>
        </div>
      </div>

      <div class="row align-middle">
        <div class="icons small-2 medium-1 large-2 column">
          <img src="/assets/img/bullet_unikernel.png" alt="includeOS">
        </div>
        <div class="small-10 medium-11 large-10 column">
          <p>Lean. Base virtual image starts at about 1 megabyte.</p>
        </div>
      </div>

      <div class="row align-middle">
        <div class="icons small-2 medium-1 large-2 column">
          <img src="/assets/img/bullet_majoros.png" alt="includeOS">
        </div>
        <div class="small-10 medium-11 large-10 column">
          <p>Secure. No unused code in your image.</p>
        </div>
      </div>

      <div class="row align-middle">
        <div class="icons small-2 medium-1 large-2 column">
          <img src="/assets/img/bullet_selfcontained.png" alt="includeOS">
        </div>
        <div class="small-10 medium-11 large-10 column">
          <p>Perfectly portable. Runs on all major hyporvisors.</p>
        </div>
      </div>

    </div>

  </div>
</section>

<!-- Middle section (aka the yellow section) -->
<section id="middle" class="middle flex-child-auto">
  <div class="row align-middle">
    <div class="small-12 medium-6 column">
      <h2>IncludeOS is a Unikernel</h2>
      <p>Unikernels are a new class of operating system. The functionality in the operating system is available as
     a library. The build systems pulls part of the operating system into the application itself. You can read more about unikernels in general and other unikernel implementations at <a href="unikernel.org">unikernel.org</a>.
    </div>
    <!--
    <div class="small-12 medium-6 column text-center hide-for-small-only">
      <img class="squirrel" src="/assets/img/squirrel2.png" alt="squirrel">
    </div> -->
  </div>
</section>

<!-- Last section (where you can brag) -->
<section id="last" class="last flex-child-auto">
  <div class="row align-middle align-center text-center">

    <div class="small-12 column">
      <h2>Major contributions to IncludeOS by these fine folks:</h2>
    </div>

    <div class="small-6 medium-2 column">
      <img src="/assets/img/clients/hioa-logo-middels-neg-eng.png">
    </div>
    <div class="small-6 medium-2 column">
      <img src="/assets/img/clients/ibmwhite.png">
    </div>
    <div class="small-6 medium-2 column">
      <img src="/assets/img/clients/unikernel-logo-inverted.png">
    </div>

  </div>
</section>
