<!-- Top section (aka the blue section) -->
<section class="top flex-child-auto">

  <div class="row">

    <div class="small-12 large-7 column">
      <h1>Run your application with zero overhead</h1>
      <p>IncludeOS allows you to run your application in the cloud without an operating system. IncludeOS ads operating system functionality to your application allowing you to create performant, secure and resource efficient virtual machines.</p>
      <p>IncludeOS applications boot in tens of milliseconds and require only a few megabytes of disk and memory. </p>
      <div class="row">
        <div class="stacked-for-small button-group">
          <a class="primary hollow button" href="https://github.com/hioa-cs/IncludeOS/tarball/master">DOWNLOAD TARBALL</a>
          <a class="primary hollow button" href="https://github.com/hioa-cs/IncludeOS/zipball/master">DOWNLOAD ZIP</a>
          <a class="primary hollow button" href="https://github.com/hioa-cs/IncludeOS">VIEW ON GITHUB</a>
        </div>
      </div>
    </div>

    <div class="list small-12 large-5 column">

      <div class="row align-middle">
        <div class="icons small-2 medium-1 large-2 column">
          <div class="wrapper">
          <img src="/assets/img/bullet_1.png" alt="includeOS">
          </div>
        </div>
        <div class="small-10 medium-11 large-10 column">
          <p>Performant. No operating system overhead.</p>
        </div>
      </div>

      <div class="row align-middle">
        <div class="icons small-2 medium-1 large-2 column">
          <div class="wrapper">
          <img src="/assets/img/bullet_2.png" alt="includeOS">
          </div>
        </div>
        <div class="small-10 medium-11 large-10 column">
        <p>Perfectly portable. Runs on all major hypervisors.</p>
        </div>
      </div>

      <div class="row align-middle">
        <div class="icons small-2 medium-1 large-2 column">
          <div class="wrapper">
          <img src="/assets/img/bullet_3.png" alt="includeOS">
          </div>
        </div>
        <div class="small-10 medium-11 large-10 column">
          <p>Secure. No unused code in your image.</p>
        </div>
      </div>

      <div class="row align-middle">
        <div class="icons small-2 medium-1 large-2 column">
          <div class="wrapper">
          <img src="/assets/img/bullet_4.png" alt="includeOS">
          </div>
        </div>
        <div class="small-10 medium-11 large-10 column">
          <p>Lean. Base virtual image starts at about 1 megabyte.</p>
        </div>
      </div>

    </div>

  </div>
</section>

<!-- Middle section (aka the yellow section) -->
<section id="middle" class="middle flex-child-auto">

  <div class="row alling-middle">
     <div class="small-12 large-8 column">
      <h2>Get started</h2>
      <p>Installing IncludeOS on Linux or OS X typically takes around 10 minuttes. Once installed
       we suggest looking at and booting a few of the examples to familarize yourself with the system.
      </p>
        <pre><code class="bash">export INCLUDEOS_SRC=~/IncludeOS
export INCLUDEOS_PREFIX=~/IncludeOS_install
cd $HOME
git clone https://github.com/hioa-cs/IncludeOS.git
cd $INCLUDEOS_SRC
./install.sh</code></pre>
        <p>Once installed have a look in ~/IncludeOS/examples/demo_service. In order to boot the application just type "boot --create-bridge ." and the applcation should build and run.</p>
        <p>We strive to make it easy to create fast and useful services. The below code will set up a simple "Hello World" TCP service and happliy talk to anyone connecting.</p>
        <pre><code class="c++">#include &lt;os&gt;
#include &lt;iostream&gt;
#include &lt;net/inet4&gt;

void Service::start(const std::string&amp; args) {
    auto&amp;&amp; inet = net::Inet4::ifconfig&lt;0&gt;(30.0);  // Initialize IP stack
    auto&amp;&amp; server = inet.tcp().bind(80); // Set up a TCP server on port 80
    for (auto&amp;&amp; ref : collection) {
        std::cout &lt;&lt; ref.to_string() &lt;&lt; &quot;\n&quot;;
    }
    server.on_connect([](auto conn) {
        conn-&gt;on_read(1024, [conn](net::tcp::buffer_t buf, size n) {
            conn-&gt;write(&quot;Hello world\n&quot;, [](auto size) {
                std::cout &lt;&lt; &quot;Response written\n&quot;;
            });
        });
    });
}</code></pre>
    </div>
  </div>
    <!--
    <div class="small-12 medium-6 column text-center hide-for-small-only">
      <img class="squirrel" src="/assets/img/squirrel2.png" alt="squirrel">
    </div> -->
  </div>
</section>

<!-- Last section (where you can brag) -->
<section id="last" class="last flex-child-auto">
  <div class="row align-middle align-center text-center">

    <div class="small-12 column">
      <h2>Major contributions to IncludeOS by these fine folks:</h2>
    </div>

    <div class="small-6 medium-2 column">
      <a href="http://www.hioa.no/eng"><img src="/assets/img/clients/hioa-logo-middels-neg-eng.png"></a>
    </div>
    <div class="small-6 medium-2 column">
      <a href="http://www.research.ibm.com/"><img src="/assets/img/clients/ibmwhite.png"></a>
    </div>
    <div class="small-6 medium-2 column">
      <a href="http://www.unikernel.org/"><img src="/assets/img/clients/unikernel-logo-inverted.png"></a>
    </div>

  </div>
</section>
