footer {
  padding: $global-padding;
  background-color: $black;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

  p {
      color: $white;
  }

  ::selection {
    background: $white;
    color: $black;
  }
}
