footer {
  padding: $global-padding;
  background-color: $black;
  color: $white;
  letter-spacing: .5px;
  position: absolute;
  bottom: 0;
  width: 100%;

  p {
    margin-bottom: 0;
  }

  a.white {
    text-decoration: underline;
    &:hover {
      color: $blue;
    }
  }

  ::selection {
    background: $black;
  }
}
