footer {
  padding: $global-padding;
  background-color: $black;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

  p, a {
      color: $white;
  }

  a {
    text-decoration: underline;
  }

  ::selection {
    background: $black;
  }
}
