//General styles (ex: link styles, header styles, etc. )
body {
  color: $white;
}

.container {
  height: 100vh;
}

section {
  padding: $global-padding;
}

section.top {
  background-color: $blue;

  ::selection {
    background: $yellow;
  }

  h1 {
    padding-bottom: $global-padding;
  }

  .button-group {
    margin-bottom: $global-margin*2;
  }
}

section.middle {
  background-color: $yellow;
  color: $black;

  ::selection {
    background: $blue;
  }
}

section.bottom {
  background-color: $black;
  height: 100%;

  ::selection {
    background: $yellow;
  }
}

.list {
  .row {
    padding-bottom: $global-padding;
  }

  .icons {
    padding-right: 0;
  }
}

//Button Styles
.hollow.button {
  &.primary {
    &:hover, &:focus {
      border-color: $black;
      color: $black;
    }
  }

  &.secondary {
    &:hover, &:focus {
      background-color: $white;
      border-color: $white;
    }
  }
}

//Link Styles
a {
  color: $black;

  &:hover {
    color: $white;
  }

  &.white {
    color: $white;

    &:hover {
      color: $black;
    }
  }

  &.read-more:after {
    content: ">";
    position: relative;
    top: 1px;
    left: 6px;
  }
}



@include breakpoint(small only) {
  section.middle {
    img {
      width: 50%
    }
  }
}
