//General styles (ex: link styles, button styles, etc. )
html, body {
  color: $white;
  height: 100%;
}

.container {
  height: 100%;

  .bottom {
    flex: 0 1 2rem;
  }
}

section {
  padding: $global-padding;
}

//Link Styles
a {
  color: $black;
  position: relative;

  &.white {
    color: $white;

    &:hover {
      color: $black;
    }
  }

  //Makes right arrow (">") after link
  &.right-arrow:after {
    content: ">";
    position: relative;
    top: 1px;
    left: 6px;
  }

  &:hover {
    color: $white;

    //Makes black underline under links
    &.underline:after {
      content: "";
      position: absolute;
      border: 2px solid $black;
      left: 0;
      right: 62%;
      bottom: -11px;
      border-radius: 2px;
    }
  }
}

//Button Styles
.hollow.button {
  &.primary {
    &:hover, &:focus {
      border-color: $black;
      color: $black;
    }
  }

  &.secondary {
    &:hover, &:focus {
      background-color: $white;
      border-color: $white;
    }
  }
}
