//General styles (ex: link styles, button styles, etc. )
html, body {

   ::selection {
      background: $black;
      color: $white;
   }

   img {
      width: 100%;
      height: auto;
   }
}

.container {
   height: 100%;

   .bottom {
      flex: 0 1 2rem;
   }
}

section {
   padding: $global-padding;
}

h1 {
   font-weight: $global-weight-bold;
}

//Link Styles
a {
   color: $black;
   position: relative;

   &:hover {
      color: $blue;

      &.underline:after {
         border: 2px solid $black;
      }
   }

   &.white {
      color: $white;

      &:hover {
         color: $black;
      }
   }

   //Makes right arrow (">") after link
   &.right-arrow:after {
      content: ">";
      position: relative;
      top: 1px;
      left: 6px;
   }

   //Makes black underline under links
   &.underline:after {
      content: "";
      position: absolute;
      border: 2px solid $blue;
      left: 0;
      right: auto;
      width: 2rem;
      bottom: -11px;
      border-radius: 2px;
   }
}


//Button Styles
.button {
   font-weight: 700;
   font-size: .9rem;
}

.hollow.button {
   &.primary {
      border: 2px solid $white;

      &:hover, &:focus {
         border-color: $white;
         color: $black;
         background: $white;
      }
   }

   &.secondary {
      border: 2px solid $black;

      &:hover, &:focus {
         border-color: $black;
         color: $white;
         background: $black;
      }
   }
}



span.tags {
   border: 1px solid $black;
   border-radius: 10rem;
   padding: 0 $global-padding / 3;
   margin: 0 .4rem 0 0;
}
