header{
  background: $blue;

  ::selection {
    background: $yellow;
  }

  .title-bar {
    background: $blue;
    width: 100%;
    padding: 1.7rem;

    .title-bar-right {
      padding-top: .7rem;
    }
  }

  .row {
    padding: $global-padding;
  }

  .menu {
    a {
      &:not(:last-child) {
        padding-right: $global-padding;
      }
    }
  }

  @include breakpoint(xlarge up){
    .row {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
