//Top section (aka the blue section)
section.top {
   background-color: $blue;
   position: relative;

   .button-group {
    margin: 1.5rem 0;

      .button {
         color: white;
      }

      a {
          text-decoration: none;
      }
   }

 h1, h2, p {
      color: $white;
   }

   .list {
      .row {
         padding-bottom: 2rem;
      }

      .icons {
         padding-right: 0;
      }
   }
}

//Middle section (aka the yellow section)
section.middle {
   background-color: $yellow;
   color: $black;

   .squirrel {
      max-width: 60%;
      margin: 3rem 0;
      float: right;
   }

   .circle {
      height: 57px;
      width: 57px;
      display: inline-block;
      padding: 0;
   }

   p {
      margin-bottom: 2rem;
   }

   @include breakpoint(small only) {
      img {
         width: 50%
      }
   }
}

.top, .middle, .last {
   h2 {
      margin: $global-padding 0;
   }


   a {
       text-decoration: underline;
   }

   a:hover {
       color: lighten($black, 20);
   }
}

//Last section (where you can brag)
section.last {
    background-color: lighten($black, 2);
    color: $white;

    img {
      max-width: 100px;
    }
}
