.static-page {
  color: $black;

  .page-title{
    border-bottom: 2px solid #1A1A1B;
    padding: ($global-padding*2) 0 ($global-padding*3) 0;
  }

  &.blog {
    .blog-posts {
      margin-left: 0;
      margin-right: 0;
      border-bottom: 1px solid $gray;
      padding-bottom: $global-padding*2;

      &:not(first-child){
        padding-top: $global-padding;
      }
    }
  }

  .page-content{
    padding: ($global-padding*2) 0;
  }

  a {
    &:hover {
      color: black;
      cursor: crosshair;
    }
  }

  h2 {
    font-weight: $global-weight-bold;
  }
}
