//General styles (ex: link styles, button styles, etc. )
html{
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 3rem;
}

body.front {
  background: #2c313a;
}

body, html {
  ::selection {
    background: $black;
    color: $white;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.container {
  min-height: 100%;

  &.no-scroll {
    overflow-x: hidden;
    position: fixed;
  }
}

section {
  padding: $global-padding;
}

h1, h2, h3, h4 {
  font-weight: $global-weight-bold;
}
//Link Styles
a {
  color: $black;
  position: relative;

  &:hover {
    color: $blue;

    &.underline:after {
      border: 2px solid $black;
    }
  }

  &.white {
    color: $white;

    &:hover {
      color: $black;
    }
  }

  //Makes right arrow (">") after link
  &.right-arrow:after {
    content: ">";
    position: relative;
    top: 1px;
    left: 6px;
  }
  //Makes black underline under links
  &.underline:after {
    content: "";
    position: absolute;
    border: 2px solid $blue;
    left: 0;
    right: auto;
    width: 2rem;
    bottom: -11px;
    border-radius: 2px;
  }
}
//Button Styles
.button {
  font-weight: 700;
  font-size: .9rem;
}

.hollow.button {
  &.primary {
    border: 2px solid $white;

    &:focus, &:hover {
      border-color: $white;
      color: $black;
      background: $white;
    }
  }

  &.secondary {
    border: 2px solid $black;

    &:focus, &:hover {
      border-color: $black;
      color: $white;
      background: $black;
    }
  }
}

span.tags {
  border: 1px solid rgba(214, 214, 214, .7);
  border-radius: $button-radius;
  font-size: .9rem;
  color: lighten($black, 20);
  padding: $global-padding / 3;
  margin: 0 .4rem 0 0;

  &:hover {
    background: rgba(214, 214, 214, .2);
    color: $black;
  }
}
