//Top section (aka the blue section)

section.top {
  background-color: $blue;
  position: relative;

  .button-group {
    margin: $global-margin 0 ($global-margin*2) 0;

    .button {
      color: white;
    }

    a {
      text-decoration: none;
    }
  }

  h1, h2, p {
    color: $white;
  }

  .list {
    .row {
      padding-bottom: $global-padding;
      padding-left: 3rem;

      .wrapper {
        background: rgba(255,255,255,1);
        border-radius: 50%;
        height: 58px;
        width: 58px;
        padding: 2px;
            
        img {
          padding-top: 4px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 38px;
        }
      }
      p {
        margin-bottom: 0;
      }
    }

    .icons {
      padding-right: 0;
    }
  }
}
//Middle section (aka the yellow section)
section.middle {
  background-color: $yellow;
  color: $black;

  .squirrel {
    max-width: 60%;
    margin: 3rem 0;
    float: right;
  }

  a {
    text-decoration: underline;

    &.button {
      text-decoration: none;
    }
  }

  p {
    margin-bottom: 2rem;
  }

  @include breakpoint(small only) {
    img {
      width: 50%;
    }
  }
}

//Last section (where you can brag)
section.last {
  background-color: lighten($black, 2);
  color: $white;

  img {
    max-width: 100px;
  }
}

.last, .middle, .top {
  h2 {
    margin: $global-padding 0;
  }

  a:hover {
    color: lighten($black, 20);
  }
}
