.static-page {
  color: $black;

  .page-title{
    border-bottom: 1px solid rgba(214, 214, 214, 1);
    padding-top: $global-padding*2;
    padding-bottom: $global-padding*2;
  }

  .summary {
     font-size: 1.2rem;
     display: block;
     margin-top: $global-padding;
 }

 h3, h4, h5 {
     margin: 2rem 0 .5rem 0;
     font-weight: $global-weight-bold;
  }


  &.blog {
    .blog-posts {
      margin-left: 0;
      margin-right: 0;
      border-bottom: 1px solid rgba(214, 214, 214, 1);
      padding-bottom: $global-padding*2;
      padding-top: $global-padding*2;

      p {
         margin-bottom: $global-padding;
      }

      &:first-child{
        padding-top: 0;
      }

      .author {
         color: $dark-gray;
         font-size: .9rem;
         margin-bottom: $global-padding/2;
      }
    }
  }

  .page-content{
    padding-top: $global-padding*2;
    padding-bottom: $global-padding*2;
  }

  a {

    text-decoration: underline;
    color: $blue;

    &:hover {
      color: black;
    }

  }

  h2 {
    font-weight: $global-weight-bold;
  }
}
