<!-- Sticky header for small screens -->
<header data-sticky-container class="show-for-small-only">
   <div
     class="title-bar sticky"
     data-sticky
     data-btm-anchor="middle:top"
     data-options="marginTop:0;"
     data-sticky-on="small only"
   >

     <div class="title-bar-left">
       <a class="white" href="/"><img src="/assets/img/logo.png" alt="includeOS"></a>
     </div>

     <div class="menu title-bar-right">
       <a class="white" href="/community/">community</a>
       <a class="white" href="/get-started/">get started</a>
     </div>

   </div>
</header>

<!-- Regular header for medium screens and larger-->
<header class="medium-up-header show-for-medium">
 <div class="row align-middle">

   <div class="medium-4 column">
     <a href="/"><img src="/assets/img/logo.png" alt="includeOS"></a>
   </div>

   <div class="menu medium-8 column text-right">
     <a class="white" href="/community/">community</a>
     <a class="white" href="/get-started/">get started</a>
   </div>

 </div>
</header>
