<!-- Top section (aka the blue section) -->
<section class="top flex-child-auto">

  <div class="row">
    <div class="small-12 large-8 column">
      <div class="small-12 large-10 column">
      <h1>Any app, tailormade OS</h1>
      <p>IncludeOS is a performant, minimal unikernel operating system for the cloud. We provide a bootloader, standard libraries and the build - and deployment system. You just provide the service.
      </p>

      <h2>Release: v0.10.0</h2>
      <p>Check out Acorn, the innovative web server appliance we demoed at CppCon. Built using Mana, the new C++ Web Application Framework for IncludeOS.</p>
      <div class="row">
        <div class="stacked-for-small button-group">
          <a class="primary hollow button" href="https://github.com/hioa-cs/IncludeOS/tarball/master">DOWNLOAD TARBALL</a>
          <a class="primary hollow button" href="https://github.com/hioa-cs/IncludeOS/zipball/master">DOWNLOAD ZIP</a>
          <a class="primary hollow button" href="https://github.com/hioa-cs/IncludeOS">VIEW ON GITHUB</a>
        </div>
      </div>
    </div>
    </div>

    <div class="list small-12 large-4 column">
      <div class="row align-middle">
        <div class="icons small-2 medium-1 large-2  column">
          <img src="/assets/img/bullet_cplus.png" alt="includeOS">
        </div>
        <div class="small-10 medium-11 large-10 column">
          <p>All the performance of modern C++ and hardware virtualization</p>
        </div>
      </div>
      <div class="row align-middle">
        <div class="icons small-2 medium-1 large-2 column">
          <img src="/assets/img/bullet_unikernel.png" alt="includeOS">
        </div>
        <div class="small-10 medium-11 large-10 column">
          <p>The leanest possible unikernel design, starting at a low 1MB in size</p>
        </div>
      </div>
      <div class="row align-middle">
        <div class="icons small-2 medium-1 large-2 column">
          <img src="/assets/img/bullet_majoros.png" alt="includeOS">
        </div>
        <div class="small-10 medium-11 large-10 column">
          <p>Runs on all major OS, without modification</p>
        </div>
      </div>
      <div class="row align-middle">
        <div class="icons small-2 medium-1 large-2 column">
          <img src="/assets/img/bullet_selfcontained.png" alt="includeOS">
        </div>
        <div class="small-10 medium-11 large-10 column">
          <p>Self-contained - can't be hacked. Sad!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Middle section (aka the yellow section) -->
<section id="middle" class="middle flex-child-auto">
  <div class="row align-middle">
    <div class="small-12 medium-6 column">
      <h2>get started</h2>
      <p>Everything is on GitHub: Just follow the simple installation instructions, and you will be writing your first service in no time. You can also read the documentation and look at known issues and feature requests.</p>

  <p>If you want a command line interface, there is support for IncludeOS unikernels in UniK, the Unikernel Compilation and Deployment Platform from EMC.</p>
        <a class="right-arrow" href="/get-started">Read more</a>
      </p>
      <div class="button-group">
        <button type="button" class="secondary hollow button">BUILD MY APP</button>
        <button type="button" class="secondary hollow button circle">+</button>
      </div>
    </div>

    <div class="small-12 medium-6 column text-center hide-for-small-only">
      <img class="squirrel" src="/assets/img/squirrel.png" alt="squirrel">
    </div>
  </div>
</section>

<!-- Last section (where you can brag) -->
<section id="last" class="last flex-child-auto">
  <div class="row align-middle">
    <div class="small-12 medium-6 column">
      <h2>used by these fine folks</h2>
      <p>Everything is on GitHub: Just follow the simple installation instructions, and you will be writing your first service in no time. You can also read the documentation and look at known issues and feature requests.</p>
  </div>
</section>
