<!-- Top section (aka the blue section) -->
<section class="top flex-child-auto">

  <div class="row">
    <div class="small-12 large-8 column">
      <p>IncludeOS is a performant, minimal unikernel operating system for the cloud. We provide a bootloader, standard libraries and the build - and deployment system. You just provide the service.
      </p>

      <h1>includeOS: RC1</h1>

      <div class="stacked-for-small button-group">
        <a class="primary hollow button">DOWNLOAD TARBALL</a>
        <a class="primary hollow button">DOWNLOAD ZIP</a>
        <a class="primary hollow button">VIEW ON GITHUB</a>
      </div>
    </div>

    <div class="list small-12 large-4 column">
      <div class="row align-middle">
        <div class="icons small-2 medium-1 large-2  column">
          <img src="/assets/img/bullet_1.png" alt="includeOS">
        </div>
        <div class="small-10 medium-11 large-10 column">
          All the performance of modern C++ and hardware virtualization
        </div>
      </div>
      <div class="row align-middle">
        <div class="icons small-2 medium-1 large-2 column">
          <img src="/assets/img/bullet_acorn.png" alt="includeOS">
        </div>
        <div class="small-10 medium-11 large-10 column">
          The leanest possible unikernel design, starting at a low 1MB in size
        </div>
      </div>
      <div class="row align-middle">
        <div class="icons small-2 medium-1 large-2 column">
          <img src="/assets/img/bullet_1.png" alt="includeOS">
        </div>
        <div class="small-10 medium-11 large-10 column">
          Runs on all major OS, without modification
        </div>
      </div>
      <div class="row align-middle">
        <div class="icons small-2 medium-1 large-2 column">
          <img src="/assets/img/bullet_acorn.png" alt="includeOS">
        </div>
        <div class="small-10 medium-11 large-10 column">
          Self-contained - can't be hacked. Sad!
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Middle section (aka the yellow section) -->
<section id="middle" class="middle flex-child-auto">
  <div class="row align-middle">
    <div class="small-12 medium-6 column">
      <h1>get started</h1>
      <p>IncludeOS is a performant, minimal unikernel operating system for the cloud. We provide a bootloader, standard libraries and the build - and deployment system. You just provide the service.
        <a class="right-arrow" href="/get-started">Read more</a>
      </p>
      <div class="button-group row text-center">
        <button type="button" class="secondary hollow button small-8 medium-6  column">BUILD MY APP</button>
        <button type="button" class="secondary hollow button">+</button>
      </div>
    </div>

    <div class="small-12 medium-6 column text-center">
      <img src="/assets/img/squirrel.png" alt="squirrel">
    </div>
  </div>
</section>

<!-- Bottom section (aka the black section) -->
<section class="bottom">
  <div class="row text-center">
    <div class="small-4 column">
      <h1>24k</h1>
      <h2>Downloads</h2>
    </div>
    <div class="small-4 column">
      <h1>6k</h1>
      <h2>Live Apps</h2>
    </div>
    <div class="small-4 column">
      <h1>0</h1>
      <h2>Hacks</h2>
    </div>
  </div>
</section>
