//includeOS Variables
$white: #FFFFFF;
$black: #282c34;
$blue: #00ADDD;
$yellow: #FCE76C;
$gray: rgba($black, .4);

$global-margin: 1rem;
$global-padding: 1rem;

//Foundation 6 Variables
$body-font-family: 'Roboto', 'sans-serif';
$buttongroup-spacing: $global-margin;
$global-radius: 20px;

$header-styles: (
  'small': (
    'h1': ('fs': 24),
    'h2': ('fs': 20),
    'h3': ('fs': 19),
    'h4': ('fs': 18),
    'h5': ('fs': 14),
    'h6': ('fs': 16)
  ),
  'medium': (
    'h1': ('fs': 35),
    'h2': ('fs': 25),
    'h3': ('fs': 18),
    'h4': ('fs': 16),
    'h5': ('fs': 14),
    'h6': ('fs': 12)
  )
);

$foundation-palette: (
  primary: $blue,
  secondary: $black,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);


$button-padding: 1.2rem 1.5rem;
$button-radius: 100rem;
$button-hollow-border-width: 2px;
