{% include head.html %}
{% include header.html %}

    <main>
      <section id="post">
         <div class="row align-center">
            <div class="small-12 medium-7 columns">
               <h1>{{page.title}}</h1>
            </div>
            <div class="small-12 medium-9 columns">

               <div class="row">
                  <div class="small-5 columns">
                     <div class="author-image">
                        <img src="{{page.author-image}}" alt="">
                     </div>
                  </div>
                  <div class="small-7 columns">
                     <p class="author">{{page.author}} -
                       {% assign d = page.date | date: "%-d" %}
                       {% case d %}
                         {% when '1' or '21' or '31' %}{{ d }}st
                         {% when '2' or '22' %}{{ d }}nd
                         {% when '3' or '23' %}{{ d }}rd
                         {% else %}{{ d }}th
                       {% endcase %} of
                       {{ page.date | date: "%B" }}
                       {{ page.date | date: "%Y" }}
                     </p>
                  </div>
               </div>

               <div class="tags-wrapper">
                  {% for category in page.categories %}
                    <span class="tags">{{ category }}</span>
                  {% endfor %}
               </div>

               <div class="post-content">
                 {{ content }}
               </div>
            </div>
         </div>
      </section>
    </main>

{% include footer.html %}
{% include foot.html %}
