{% include head.html %}
{% include header.html %}

    <main>
      <section id="post">
         <div class="row align-center">
            <div class="small-12 medium-9 columns">
               <h1>{{page.title}}</h1>
               <h4>{{page.author}} - {{page.date}}</h4>


               <div class="tags-wrapper">
                  {% for category in page.categories %}
                    <span class="tags">{{ category }}</span>
                  {% endfor %}
               </div>

               <div class="post-content">
                 {{ content }}
               </div>
            </div>
         </div>
      </section>
    </main>

{% include footer.html %}
{% include foot.html %}
